altgraph
attrs
click
colorama
cx-Freeze
cx-Logging
exceptiongroup
iniconfig
lief
nibabel
numpy
packaging
pefile
pip
pluggy
pydicom
pyinstaller-hooks-contrib
pyinstaller
PyQt5-Qt5
PyQt5-sip
PyQt5
pytest
pywin32-ctypes
setuptools
tomli
wheel
